<div class="footer">
    <div class="navbar navbar-default navbar-fixed-bottom row-fluid">
        <div class="container-fluid">
            <div class="well well-sm">
                <p>
                <div>&copy; 2017 <a href="/">PROJECT</a> - Все права защищены</div>
                </p>
            </div>
        </div>
    </div>
</div>